################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Volunesia/.vs/Volunesia/v15/Server/sqlite3
/.vs
